 .Isabel{
    text-align: center;
    margin-left:2%;
    float:left; 
    height:40px;
    width:40px; 
}
body{
    background-color: #101010;
    color: aliceblue;
    width:100%;
       height:auto;
       padding:1%;
}

/*This is a comment for css*/
.Isabel p{
    font-size: 20px;
}
.Isabel img{
    height: 270px; 
}

.iconDetails {
    margin-left:2%;
   float:left; 
   height:90px;
   width:90px; 
   } 
   
   .container2 {
       width:100%;
       height:auto;
       padding:1%;
   }


