<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/app/portfolio/portfolio.component.css">
    <title>About Us Page</title>
</head>

<body>
    <div class="full-height-grow" style="width: 100%;">
        <!--Added style-->
        <!-- Nav Starts Here -->
        <nav>
            <div class="logo">
                <img src="/src/assets/img/logo.png">
                <div class="logo">S.H.I.E.L.D.</div>
                <div class="spacer"></div>
                <!-- took this out <h4 class="spacer">SOMETHING</h4>-->
            </div>

    <h1>Get to know the creators</h1>
    <div class='container2'>
        <div>
            <img src='/src/assets/img/IsabelCartoonProfilePic.png' class='iconDetails'>
        </div>  
    <div style='margin-left:120px;'>
    <h2>Isabel's Favorite...</h2>
    <div style="font-size:1em">Character: Groot</div>
    <div style="font-size:1em">Movie: Captain America and the Winter Soldier</div>
    <div style="font-size:1em">Quote: "If you get hurt, hurt 'em back. If you get killed, walk it off." - Captain America</div>
    </div>
</div>
    
    <!--This is a comment for html-->
    <body>
        <div class='container2'>
            <div>
                <img src='/src/assets/img/AshleyCartoonProfilepic.jpg' class='iconDetails'>
            </div>  
        <div style='margin-left:120px;'>
        <h2>Ashley's Favorite...</h2>
        <div style="font-size:1em">Character: Deadpool</div>
        <div style="font-size:1em">Movie: Guardians of the Galaxy</div>
        <div style="font-size:1em">Quote: "Drop your socks and grab your crocs, we're about to get wet on this ride" - Tony Stark</div>
        </div>
    </div>
    
    <body>
        <div class='container2'>
            <div>
                <img src='/src/assets/img/AndreaCartoonProfilepic.jpg' class='iconDetails'>
            </div>  
        <div style='margin-left:120px;'>
        <h2>Andrea's Favorite...</h2>
        <div style="font-size:1em">Character: Grandmaster</div>
        <div style="font-size:1em">Movie: Avengers 1</div>
        <div style="font-size:1em">Quote: "No amount of money ever bought a second of time" - Tony Stark</div>
        </div>
    </div>

    <body>
        <div class='container2'>
            <div>
                <img src='/src/assets/img/BeeCartoonProfilepic.jpg' class='iconDetails'>
            </div>  
        <div style='margin-left:120px;'>
        <h2>Bee's Favorite...</h2>
        <div style="font-size:1em">Character: Spider-Man</div>
        <div style="font-size:1em">Movie: Spider-Man Homecoming</div>
        <div style="font-size:1em">Quote: "I'd rather just stay on the ground for a little while. 'Friendly neighborhood Spider-Man'. Sombody's got to look out for the little guy, right?" - Peter parker</div>
        </div>
    </div>
   

</body>
</html>