<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/app/portfolio/portfolio.component.css">
    <title>About Us Page</title>
</head>

<body>
    <h1>Get to know the creators</h1>
    <div class='container2'>
        <div>
            <img src='/src/assets/img/IsabelCartoonProfilePic.png' class='iconDetails'>
        </div>  
    <div style='margin-left:120px;'>
    <h2>Isabel</h2>
    <div style="font-size:1em">Favorite Marvel Character</div>
    <div style="font-size:1em">Favorite Marvel Quote</div>
    <div style="font-size:1em">Favorite Marvel Movie</div>
    </div>
</div>
    
    <!--This is a comment for html-->
    <body>
        <div class='container2'>
            <div>
                <img src='/src/assets/img/AshleyCartoonProfilepic.jpg' class='iconDetails'>
            </div>  
        <div style='margin-left:120px;'>
        <h2>Ashley</h2>
        <div style="font-size:1em">Favorite Marvel Character</div>
        <div style="font-size:1em">Favorite Marvel Quote</div>
        <div style="font-size:1em">Favorite Marvel Movie</div>
        </div>
    </div>
    
    <body>
        <div class='container2'>
            <div>
                <img src='/src/assets/img/AndreaCartoonProfilepic.jpg' class='iconDetails'>
            </div>  
        <div style='margin-left:120px;'>
        <h2>Andrea</h2>
        <div style="font-size:1em">Favorite Marvel Character: Grandmaster</div>
        <div style="font-size:1em">Favorite Marvel Quote: "No amount of money ever bought a second of time" - Tony Stark</div>
        <div style="font-size:1em">Favorite Marvel Movie: Avengers 1</div>
        </div>
    </div>

    <body>
        <div class='container2'>
            <div>
                <img src='/src/assets/img/BeeCartoonProfilepic.jpg' class='iconDetails'>
            </div>  
        <div style='margin-left:120px;'>
        <h2>Bee</h2>
        <div style="font-size:1em">Favorite Marvel Character</div>
        <div style="font-size:1em">Favorite Marvel Quote</div>
        <div style="font-size:1em">Favorite Marvel Movie</div>
        </div>
    </div>
   

</body>
</html>