body{
    background-color:#101010;
    color: aliceblue;
    width:100%;
       height:auto;
       padding:1%;
}



/*This is a comment for css*/
.Isabel p{
    font-size: 20px;
}
.Isabel img{
    height: 250px; 
}

.iconDetails {
    margin-left:2%;
   float: left; 
   height:200px;
   } 

   .container1 {
       width:80%;
       height: 300px;
       padding:10%;
       text-align: right;
    }
    
    .container2 {
        height: 300px;
        padding:10%;
        text-align: right;
        float: ;
     }

     
     .container3 {
        width:80%;
       height: 300px;
       padding:10%;
       text-align: right;
     }
     
     .container4 {
        width:80%;
       height: 300px;
       padding:10%;
       text-align: right;
     }

    

